* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
}

body, input, textarea, button {
    font-family: "Roboto", "Roboto Condensed", sans-serif;
    justify-content: center;
    height: 100%;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.login-logo {
    width: 25vh;
    height: 25vh;
    background: url(../img/logo-placeholder.png);
    background-size: contain;
}

@media only screen and (max-height: 568px) {
    .login-logo {
        width: 150px;
        height: 150px;
    }
}